<div class="trip__message__list">
  <% @messages.each do |message| %>
    <%= render 'message', message: message, html_class: '' %>
  <% end %>
</div>

<div class="trip__message__form">
  <%= render 'messages/message_form', trip: @trip, message: @message %>
</div>
