<strong class="hike__list__number"><%= "#{@hikes.count} hikes" %></strong>

<div class="row">

  <% @hikes.each do |hike| %>
    <div class="col-lg-6">
      <%= render "hikes/hike-card", hike: hike %>
    </div>
  <% end %>

</div>
