<div class="banner banner--searchindex">
  <div class="container">
    <h1>Nous avons trouvé <%= @trips.count %> sorties pour vous!</h1>
  </div>
</div>

<section id="search__filters">
  <div class="container">
    <h2>Affiner votre recherche</h2>
    <div class="row">
      <%= render "shared/search-filters" %>
    </div>
  </div>
</section>

<div class="map-markers" data-set="<%= @markers.to_json %>"></div>

<section id="search__results">
  <div class="container">
    <div class="row">

      <% @trips.each do |trip| %>
        <div class="col-lg-6">
           <%= render "trips/trip-card", trip: trip %>
        </div>
      <% end %>

    </div>
  </div>
</section>
