<section class="search">
  <div class="container">
    <%= form_tag trips_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a hike"
      %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</section>
<section class="trip__presentation">
  <div class="container">
    <div class="row">

      <% @trips.each do |trip| %>
        <div class="col-lg-6">
           <%= render "trips/trip-card", trip: trip %>
        </div>
      <% end %>
    </div>
  </div>
</section>
