<div class="banner banner--searchindex">
  <div class="container">
    <h1>We've found <%= @trips.count %> trips for you!</h1>
  </div>
</div>

<section id="search__filters">
  <div class="container">
    <%= render "shared/search-filters" %>
  </div>
</section>

<section id="trip__presentation">
  <div class="container">
    <div class="row">

      <% @trips.each do |trip| %>
        <div class="col-lg-6">
           <%= render "trips/trip-card", trip: trip %>
        </div>
      <% end %>

    </div>
  </div>
</section>
