$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #777777;

$primary-color: #00d072;
$secondary-color: #007be0;
$text-color: #111;
$dark: $text-color;
$light-gray: #F7F7F7;
