<h1>Nouveau message de  <%= @sender.first_name %> dans: <%= @message.trip.title %></h1>

<p>Bonjour,</p>

<p>Le message ci-dessous a été envoyé pour: <%= @message.trip.title %> </p>

<p><%= @message.content %></p>

<p>A bientôt sur notre site!</p>
