.trip__banner {
  display: block;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip__banner .container {
  position: relative;
  height: 100%;
}

.trip__banner__actions {
  position:absolute;
  bottom: 20px;
  right: 15px;

  .btn {
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    color: $dark;

    i {
      color: $dark;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

#trip__details h1,
#hike__details h2 {
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

#trip__details h1 {
  font-size: 2.5rem;
}

.trip__details__infos,
.hike__details__infos {
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;

  .avatar {
    margin-right: 10px;
  }

  & > span {
    margin-right: 40px;
    display: inline-block;
  }

  a {
    color: $dark;
  }

  i {
    color: $secondary-color;
    margin-right: 10px;
  }
}

#submission__area {
  border-radius: $border-radius;
  background-color: #fff;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  transition: $transition;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.15);
  }

  h3 {
    text-align: center;
    padding: 10px;
    background-color: lighten($primary-color, 48%);
    color: $primary-color;
  }

  h3.main__title {
    border-radius: 2px 2px 0 0;
    background-color: lighten($secondary-color, 48%);
    color: $secondary-color;
  }
}

.submission__buddies {
  padding: 40px 20px;
  text-align: center;
}

.submission__buddies__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .avatar {
    width: 80px;
    height: 80px;
  }
}

.submission__approval {
  padding: 40px 20px;
}

.submission__approval__item {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(n + 2) {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .avatar {
    margin-right: 5px;
  }

  a {
    margin: 0 5px;
  }

  a.user {
    color: $dark;
  }

  i {
    margin-right: 5px;
  }

  a.decline {
    color: #df2800;

    &:hover {
      color: lighten(#df2800, 5%);
    }
  }
}

.submission__approval__waiting {
  padding: 20px;
}

.submission__buddies__buddy {
  position: relative;
  margin: 0 10px;

  &:nth-child(n + 4) {
    margin-top: 20px;
  }

  i {
    margin: 0;
  }

  a.reject {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    background-color: #df2800;
    color: #fff;
    font-size: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
  }
}

.submission__form {
  padding: 40px 20px;

  label {
    display: none;
  }

  .form-actions,
  p {
    text-align: center;
  }

  p {
    margin-top: 10px;
    color: #999;
  }
}

.submission__buddies + .submission__form {
  border-top: 1px solid #ddd;
}

#hike__details {
  background-color: #fff;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
  }
}

.hike__details__infos span[class*="hike__details"] {
  display: block;
}

.hike__details__infos span[class*="hike__details"]:first-child {
  margin-bottom: 10px;
}

.trip__details__description + .trip__details__messages {
  margin-top: 40px;
}

.trip__details__messages h3 {
  margin-bottom: 20px;
}

.trip__details__map {
  margin-top: 45px;
}

#map {
  height: 350px;
}

#hike__buddies {
  background-image: asset-url("hike-buddies-bg.png"), linear-gradient(#cbeafc, #fff);
  background-size: 101%;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 120px;

  .col-lg-4:nth-child(n + 4) {
    margin-top: 110px;
  }
}
