.trip__banner {
  display: block;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip__banner .container {
  position: relative;
  height: 100%;
}

.trip__banner__actions {
  position:absolute;
  bottom: 10px;
  right: 10px;
}

h1.trip__details__title {
  font-size: 3rem;
}


.trip__actions .btn {
  margin-left: 15px;
  float: right;
}

.trip__details {
  background-color: #fff;
  padding: 15px 0;
}

.trip__details .row,
.trip__details .col-lg-10 {
  display: flex;
  align-items: center;
}

.trip_container {
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  width: 970px;
}


.trip__details__container {
  width: 800px;
}

.trip__submitters__container {
  width: 400px;
  height: 50vh;
  position: sticky;
  top: 0px;
}

.trip__details_row {
  padding-bottom: 50px;
}

.trip__details__creator,
.trip__details__category {
  margin-right: 50px;
}

.trip__details__creator .avatar {
  margin-right: 10px;
  width: 30px;
}

.trip__details__city {
  text-transform: uppercase;

  i {
    margin-right: 5px;
    color: $secondary-color;
  }
}

.trip__submissions {
  padding-top: 0;
}
