.trip__banner {
  display: block;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip__banner .container {
  position: relative;
  height: 100%;
}

.trip__banner__actions {
  position:absolute;
  bottom: 20px;
  right: 20px;

  .btn {
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    color: $dark;

    i {
      color: $dark;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

#trip__details h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.trip__details__user {
  margin-bottom: 20px;

  .avatar {
    margin-right: 10px;
  }

  span {
    margin-right: 40px;
    font-weight: 600;
  }

  a {
    color: $dark;
  }

  i {
    color: $secondary-color;
    margin-right: 10px;
  }
}

.trip__details__description {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.trip__details__hike h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
