.user__box {
  background-color: #fff;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 20px;
  margin-bottom: 2px 0px;
}

.user__box h4 {
  font-style: italic;
  font-size: 14px;
  color: $gray;
}

.user__form__label {
  font-size: 10px;
  color: $gray;
  font-weight: lighter;
}

.user__form__text {
  font-size: 16px;
  color: black;
}

.user__box__title {
  background-color: #fff;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px 0px;
  margin: 2px 0px;
}

.user__form__details {
  display: inline-block;
  text-align: left;
  padding: 10px;
}

.user__form__button {
  margin-left: 14px;
}

.user__reviews__card {
  background-color: #fff;
  border-radius: $border-radius;
  margin: 10px 0px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  transition: $transition;
  padding: 10px 0px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.15);
  }
}

.user__review__average {
  margin-bottom: 5px;
}
