<div class="user__review__average">
  <div class="user__review__stars">
    <% @average.to_i.times do %>
      <%= icon('fas star--full', 'star') %>
    <% end %>
    <% (5 - @average.to_i).times do %>
      <%= icon('fas star--empty', 'star') %>
    <% end %>
  </div>
  <%= "#{@average}/5" %>
</div>
