<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>je suis la</p>
<span>
    <%= link_to(edit_user_path(@user), class: "btn btn--secondary") do %>
    <%= icon('fas', 'edit') %>Edit
    <% end %>
</span>
