<footer>
  <div class="container">
    <p>
      <span> <a href="https://www.facebook.com/Whikend-503637526698611/"><i class="fab fa-facebook-square"></i></a></span> |
      <span>
        This tiny app was made with <%= icon('fas', 'heart') %> at <a href="https://www.lewagon.com/fr/lyon" target="_blank">Le Wagon Lyon</a> by Louis, Alex, Théo & Etienne!
      </span> |
      <span> Partenaire : <a href="https://www.visorando.com/">Visorando</a></span> |
      <span> <%= link_to 'Contact Us', new_contact_url %></span>
    </p>
  </div>
</footer>
