<footer>
  <div class="container">
    <p>
      <span> <i class="fab fa-facebook-square"><a href="www.facebook.com"></a></i></span>
      <span>
        This tiny app was made with <%= icon('fas', 'heart') %> at <a href="https://www.lewagon.com/fr/lyon" target="_blank">Le Wagon Lyon</a> by Louis, Alex, Théo & Etienne!
      </span>
      <span> Partenaire : <a href="https://www.visorando.com/">Visorando</a></span>
    </p>
  </div>
</footer>
