<div class="banner banner--home">
  <div class="container">
    <h1>Trouve des partenaires de randonnée</h1>
    <p>co-voiturez et partagez l'aventure avec d'autres randonneurs</p>
      <p>
        <%= render "shared/search-home" %>
      </p>
  </div>
</div>

<section class="trip__presentation">
  <div class="container">
    <div class="row">

      <% @trips.each do |trip| %>
        <div class="col-lg-6">
           <%= render "trips/trip-card", trip: trip %>
        </div>
      <% end %>

    </div>
  </div>
</section>

