.avatar {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.avatar--profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: -190px auto 20px;
  border: 5px solid #fff;
  display: block;
  z-index: 10;
}
