.buddies__card {
  display: block;
  border-radius: $border-radius;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  transition: $transition;
  background-color: #fff;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.15);
  }
}

.buddies__card .avatar {
  width: 180px;
  height: 180px;
  border-radius: 2px 0 0 2px;
}
