.btn {
  display: inline-block;
  border-radius: $border-radius;
  color: #fff;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: $transition;

  i {
    margin-left: 10px;
    color: #fff;
  }

  &:hover,
  &:focus {
    color: #fff;
    transform: translateY(-1px);
    outline: none;
  }
}

.btn--primary {
  padding: 15px 30px;
  font-size: 1rem;
  background-color: $primary-color;

  &:hover {
    background-color: adjust-color($primary-color, $saturation: 10, $lightness: 2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
  }
}

.btn--secondary {
  padding: 10px 20px;
  font-size: 0.9rem;
  background-color: $secondary-color;

  &:hover {
    background-color: adjust-color($secondary-color, $lightness: 5);
    box-shadow: 0 7px 20px -3px rgba(0, 0, 0, 0.25);
  }
}

.btn--facebook {
  background-color: #3b5998;
  color: #fff;

  &:hover {
    background-color: lighten(#3b5998, 10%);
  }
}
