footer {
  background-color: $dark;
  color: rgba(255, 255, 255, 0.5);
  height: 70px;
  text-align: center;
  display: flex;
  align-items: center;

  i,
  a {
    color: rgba(255, 255, 255, 1);
  }

  .container {
    padding: 0;
  }
}
