.form-control,
option {
  font-size: 1rem;
}

button,
input[type="submit"] {
  transition: $transition;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
}

.form-group {
  margin-bottom: 20px;
}

.form-inline-group {
  display: flex;
  flex-grow: 1;
}

.form-inline-group .form-inputs {
  margin-right: 20px;
}

.select2-container .select2-choice {
  background-image: none;
}

.form-control {
  height: 35px;
  border-radius: $border-radius;
  box-shadow: none;
  border: 1px solid #eee;
}

/*
NEW TRIP
*/

#new__trip .col-lg-8 {
  background-color: #fff;
  border-radius: $border-radius;
  padding: 15px 0 0;
}

#new__trip h1 {
  margin-bottom: 0;
}

.new__trip__title {
  padding: 15px 30px;
}

.new__trip__step {
  padding: 30px 30px 10px;
}

.new__trip__actions {
  padding: 30px;
}

#new__trip h2 {
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 20px;
  background-color: lighten($primary-color, 55%);
  color: $primary-color;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-radius: $border-radius;
}

.new__trip__step {
  border-bottom: 5px solid $light-gray;
}

.new__trip__actions {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: $dark;
  }

  .btn {
    margin: 0 30px;
  }
}

.form-control.select2-container {
  height: 35px !important;
}

.select2-container .select2-choice {
  height: 35px !important;
  line-height: 35px;
  background-color: transparent;
}

.select2-container .select2-choice .select2-arrow {
  height: 34px;
}

.select2-container .select2-choice .select2-arrow b {
  background: url(/assets/select2-d6b5d8d….png) no-repeat 0 7px;
}

.trip_seats {
  width: 130px;
}
