.hike__card {
  border-radius: $border-radius;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  transition: $transition;

  i {
    margin-right: 5px;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    .hike__card__filter {
      transition: $transition;
      opacity: 0.75;
    }
  }
}

.hike__card__filter {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
  transition: $transition;
  border-radius: 3px 3px 0 0;
}

.hike__card__body {
  height: 220px;
  background-position: center center;
  background-size: cover;
  border-radius: 3px 3px 0 0;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.hike__card__body__info {
  z-index: 10;
  color: #fff;
}

.hike__card__location {
  margin-right: 10px;
}

h2.hike__card__title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.hike__card__footer {
  background-color: #fff;
  color: lighten($dark, 35%);
  padding: 10px 20px;
  border-radius: 0 0 3px 3px;

  span {
    margin-right: 15px;
  }

  i {
    color: $secondary-color;
  }
}

.hike__card__footer.facile {
  border-bottom: 5px solid #00db6b;
}

.hike__card__footer.moyenne {
  border-bottom: 5px solid #ffb000;
}

.hike__card__footer.difficile {
  border-bottom: 5px solid #db2e00;
}
