/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 15;

  i  {
    margin-right: 10px;
    font-size: 0.9rem;
  }
}

/* Logo */
.logo img {
  height: 20px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  font-weight: 600;
}

/* Navbar link */
.navbar-wagon-link {
  color: $text-color;
  font-size: 1rem;
  transition: $transition;
}
.navbar-wagon-link:hover {
  color: $primary-color;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.35);
  border: none;
  padding: 0;
  border-radius: $border-radius;

  li:nth-child(n + 2) {
    border-top: 1px solid #ddd;
  }
}

.navbar-wagon-dropdown-menu li > a {
  transition: $transition;
  font-weight: 400 !important;
  color: lighten($dark, 30%) !important;
  font-size: 1rem !important;
  padding: 10px 20px;
}

.navbar-wagon-dropdown-menu a.user__profile {
  padding: 20px;
  text-align: center;

  .user__profile__email {
    margin-top: 5px;
  }

  .user__profile__name {
    margin-top: 10px;
    font-weight: 600;
  }

  img {
    width: 60px;
    height: 60px;
  }
}

.navbar-wagon-dropdown-menu li > a:hover {
  background: lighten($secondary-color, 53%) !important;
  color: $dark !important;
}
