.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: $border-radius;
  color: #fff;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: $transition;

  i {
    margin-right: 5px;
    color: #fff;
  }

  &:hover,
  &:focus {
    color: #fff;
    transform: translateY(-1px);
    outline: none;
  }
}

.btn--primary {
  background-color: $primary-color;

  &:hover {
    background-color: adjust-color($primary-color, $saturation: 10, $lightness: 2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
  }
}

.btn--secondary {
  background-color: $secondary-color;

  &:hover {
    background-color: adjust-color($secondary-color, $lightness: -10);
    box-shadow: 0 7px 20px -3px rgba(0, 0, 0, 0.25);
  }
}
