<p>Bonjour <%= @resource.email %>!</p>

<p>Vous avez demandé un renouvellement de motr de passe. Cliquez sur le lien ci dessous pour le réaliser</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'en avez pas fait la demande, ignorez cet email</p>
